.gitignore
GPATH
GRTAGS
GSYMS
GTAGS
build/*
*~
*.pyc
*.o
*.lo
*.la
*.so
*.log
__pycache__/
pipeline/build/
artifacts/
data/dict.utf8
data/cedict_1_0_ts_utf-8_mdbg.txt
data/cedict_1_0_ts_utf-8_mdbg.txt.gz
